extends ../layout

block content
  h1(class='page_title')= title 

  div(class='type-list')
    each type in allTypes
      - const formattedType = type.name.replace(/_/g, '-').replace(/\b\w/g, char => char.toUpperCase())
      a(href=type.url class='text-row type') 
        p(class='type-txt bold orange-under') #{formattedType}
        p(class='type-txt') !{typeCounts[type.name]} items
        
    else 
      p There are no clothing types defined.