block header
  h1 Fashion Fushion Inventory

  ul(class='sidebar-nav')
              li
                a(href='/catalog') Home
              li
                a(href='/catalog/clothes') All clothes
              li
                a(href='/catalog/types') All Cloth Types
              li
                hr
              li
                a(href='/catalog/author/create') Add new cloth
              li
                a(href='/catalog/genre/create') Add new cloth type
