block header
  h1 Fashion Fushion Inventory

  ul(class='sidebar-nav')
              li
                a(href='/inventory') Home
              li
                a(href='/inventory/items') All clothes
              li
                a(href='/inventory/types') All Cloth Types
              li
                hr
              li
                a(href='/inventory/item/create') Add new cloth
              li
                a(href='/inventory/type/create') Add new cloth type