block header
  h1(class='side-header') 
    span(class='orange text-outline') Fashion 
    span(class='blue text-outline') Fusion 
    p(class='invWrap') Inventory 
      span(class="material-symbols-outlined invIcon") inventory_2

  div(class='sidebar-nav column')
    div(class='view-nav column')
      a(href='/inventory' class='nav-item') Home
      a(href='/inventory/items' class='nav-item') All Clothes
      a(href='/inventory/types' class='nav-item') All Cloth Types
    div(class='new-nav column')
      a(href='/inventory/item/create' class='nav-item') Add New Cloth
      a(href='/inventory/type/create' class='nav-item') Add New Cloth Type