extends ../layout

block content
  - const formattedName = item.name.replace(/_/g, '-').replace(/\b\w+(?:'\w+)?/g, char => char.charAt(0).toUpperCase() + char.slice(1))
  h1(class='page_title') #{title}: #{formattedName}

  p(class='subheader') Do you really want to delete this item?

  form(method='POST' action='')
    input(type='hidden',name='itemid', required='true', value=item._id )
    button(type='submit' class='delete form-submit') Delete  
